@use "/scss/mixins" as *;

.card-lip {
  height: var(--card-lip);
  z-index: -1;

  .icon-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    overflow: hidden;
  }

  img {
    margin: 1rem 1rem 0 auto;
  }

  &[data-lip="Work"] {
    background-color: var(--c-orange-400);
  }
  &[data-lip="Play"] {
    background-color: var(--c-blue-300);
  }
  &[data-lip="Study"] {
    background-color: var(--c-red-400);
  }
  &[data-lip="Exercise"] {
    background-color: var(--c-green-400);
  }
  &[data-lip="Social"] {
    background-color: var(--c-purple-400);
  }
  &[data-lip="Self Care"] {
    background-color: var(--c-yellow-400);
  }
}

.card-body {
  padding-top: 2rem;
  padding-bottom: 2rem;

  &:hover {
    cursor: pointer;
    background-color: var(--c-neutral-500);
  }
}
.card-info {
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;

  @include for-desktop() {
    flex-direction: column;
    align-items: flex-start;
  }
}

.card-menu:hover,
.card-menu:focus-visible {
  path {
    fill: var(--c-neutral-100);
  }
}
