@use "/scss/mixins" as *;

.main-grid {
  display: grid;
  gap: var(--grid-gap);
  padding-top: 5rem;
  padding-bottom: 5rem;

  @include for-desktop() {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;

    padding: 0;
  }
}

.header {
  display: flex;
  flex-direction: column;

  @include for-desktop() {
    grid-row: -1 / 1;
  }
}

.header-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-top: 2.25rem;

  @include for-desktop() {
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    gap: 2.75rem;
  }
}

.timeframes {
  justify-content: space-between;

  @include for-desktop() {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    padding-top: 1.5rem;
  }

  > button {
    padding: 0 0.5rem;

    @include for-desktop() {
      padding: 0;
    }

    &:hover,
    &:focus-visible,
    &[data-active="true"] {
      color: var(--c-neutral-100);
    }
  }
}

.profile {
  --size: 4rem;
  width: var(--size);
  height: var(--size);
  border: 2px solid var(--c-neutral-100);
  border-radius: 50%;

  @include for-desktop() {
    --size: 5.5rem;
  }
}
